*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  color: black;
  list-style: none;
}

:root {
  --color-main-light: #F8F6F3;
  --color-aside-light:#806C5F;
  --color-maintext-light: #2B2928;
  --color-secondarytext-light: #6F6862;
  --color-borders-light: #B8ADA3 ;
  --color-main-dark: #17191A;
  --color-aside-dark:#141617;
  --color-maintext-dark: #F2EFEC;
  --color-secondarytext-dark: #AAA4A0;
  --color-borders-dark: #454344 ;
  --color-accent: #A98BCB ;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: var(--color-main-light);
}

.wrapper {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  background-color: var(--color-main-light);
  border-radius: 10px;
  box-shadow: 15px 4px 8px rgba(0, 0, 0, 0.3),
    0 6px 20px rgba(0, 0, 0, 0.3);
}

.flex-container{
  display: flex;
  align-items: center;
}

header{
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.languages, .settings{
  gap: 20px;
}

.language {
  font-variant: small-caps;
  cursor: pointer;
}

.language.active{
  border-bottom: 2px solid var(--color-accent);
  font-weight: bold;
  cursor: default;
}

.theme-btn{
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.theme-btn.active{
  border: 2px solid var(--color-accent);
}

.download{
  padding: 5px 10px;
  border: 1px solid var(--color-accent);
  border-radius: 10px;
  cursor: pointer;
}
